.card-hl {
    width: 300px;
    height: 400px;
    background-image: url(images/card-elements/background-hl.png);
    background-size: cover;
}

.name-area-hl {
    width: 300px;
    height: 150px;
    margin-top: -12px;
    background-image: url(images/card-elements/name-area-hl.png);
    background-size: cover;
}

.season-hl {
    width: 32px;
    height: 32px;
    margin-top: -46px;
    margin-left: 40px;
    background-image: url(images/card-elements/season-hl.png);
    background-size: cover;
}

.card-hb {
    width: 300px;
    height: 400px;
    background-image: url(images/card-elements/background-hb.png);
    background-size: cover;
}

.season-hb {
    width: 32px;
    height: 32px;
    margin-top: -46px;
    margin-left: 40px;
    background-image: url(images/card-elements/season-hb.png);
    background-size: cover;
}

.name-area-hb {
    width: 300px;
    height: 150px;
    margin-top: -12px;
    background-image: url(images/card-elements/name-area-hb.png);
    background-size: cover;
}

.card-normal {
    width: 300px;
    height: 400px;
    background-image: url(images/card-elements/background-normal.png);
    background-size: cover;
}

.season-16 {
    width: 32px;
    height: 32px;
    margin-top: -46px;
    margin-left: 40px;
    background-image: url(images/card-elements/season-16.png);
    background-size: cover;
}

.name-area-normal {
    width: 300px;
    height: 150px;
    margin-top: -12px;
    background-image: url(images/card-elements/name-area-normal.png);
    background-size: cover;
}